.orders-container {
  margin: 100px auto;
}
.btn-proceed {
  width: 100%;
  background: #ff9900;
  border-radius: 4px;
  color: white;
  height: 56px;
  font-size: 18px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.proceed-link {
  text-decoration: none;
}
